<h1>Indicators of Compromise</h1>

<%= link_to "Report new IOC", new_ioc_path if authenticated? %>


<section id="iocs">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Value</th>
        <th>Source</th>
        <th>Last Seen</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @iocs.each do |ioc| %>
      <% cache ioc do %>
        <tr>
          <td><%= ioc.id %></td>
          <td><%= ioc.ioc_type %></td>
          <td><%= ioc.value %></td>
          <td><%= ioc.source %></td>
          <td><%= ioc.last_seen.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= link_to "View details", ioc_path(ioc) %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
