<% cache @ioc do %>
  <h1>IOC <%= @ioc.id %></h1>
<% end %>

<dl class="ioc">
  <dt>IOC Type</dt>
  <dd><%= @ioc.ioc_type %></dd>

  <dt>Value</dt>
  <dd><%= @ioc.value %></dd>

  <dt>Source</dt>
  <dd><%= @ioc.source %></dd>

  <dt>First Seen</dt>
  <dd><%= @ioc.first_seen.strftime("%Y-%m-%d %H:%M:%S") %></dd>

  <dt>Last Seen</dt>
  <dd><%= @ioc.last_seen.strftime("%Y-%m-%d %H:%M:%S") %></dd>
</dl>

<% if authenticated? %>
  <%= link_to "Edit", edit_ioc_path(@ioc) %>
  <%= button_to "Delete", @ioc, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
<%= link_to "Back", iocs_path %>